

body{
  display: grid;
  grid-template-areas: 
  "cabeca"
  "meio"
  "pe";
  grid-template-columns: auto;
  grid-auto-rows: auto auto auto;

}

header{
  background-color: rgb(0, 174, 255);
  text-align: center;
  align-items: center;
}
main{
  background-color: rgb(158, 199, 235);
}
footer{
  background-color: rgb(0, 174, 255);
  text-align: center;
  align-items: center;
}

.caixa_mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
  border-radius: 10px;
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: rgb(40, 124, 192);
  transition: 2s;
}

.img_card{
  width: 200px;
  height: 230px;
}
  .card a{
    border-radius: 30px;
    background-color: blue;
    display: block;
    height: 60px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 195, 255);
    transition: 2s;
  }

  .card a:hover{
    background-color: rgb(107, 162, 224);
    color: blue;
  }

main button{
  background-color: rgb(241, 40, 40);
  color: aliceblue;
  border-radius: 7px;
  margin: 5px;
  border: none;
}

.logo{
  width: 250px;
}
.carrinho{
  font-size: 30px;
  font-weight: 800;
}
